@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: #0a061e;
  --foreground: #ece9fb;
  --card: #0e082b;
  --card-foreground: #ece9fb;
  --popover: #0e082b;
  --popover-foreground: #ece9fb;
  --primary: #6a53df;
  --primary-foreground: #ece9fb;
  --secondary: #1c1056;
  --secondary-foreground: #dad4f7;
  --muted: #1c1056;
  --muted-foreground: #8f7ee7;
  --accent: #4528d7;
  --accent-foreground: #ece9fb;
  --destructive: #dc2626;
  --destructive-foreground: #ece9fb;
  --border: #291881;
  --input: #1c1056;
  --ring: #6a53df;
  --chart-1: #6a53df;
  --chart-2: #8f7ee7;
  --chart-3: #b5a9ef;
  --chart-4: #4528d7;
  --chart-5: #3720ac;
  --radius: 0.5rem;
  --sidebar: #0e082b;
  --sidebar-foreground: #ece9fb;
  --sidebar-primary: #6a53df;
  --sidebar-primary-foreground: #ece9fb;
  --sidebar-accent: #1c1056;
  --sidebar-accent-foreground: #dad4f7;
  --sidebar-border: #291881;
  --sidebar-ring: #6a53df;
}

.dark {
  --background: #0a061e;
  --foreground: #ece9fb;
  --card: #0e082b;
  --card-foreground: #ece9fb;
  --popover: #0e082b;
  --popover-foreground: #ece9fb;
  --primary: #6a53df;
  --primary-foreground: #ece9fb;
  --secondary: #1c1056;
  --secondary-foreground: #dad4f7;
  --muted: #1c1056;
  --muted-foreground: #8f7ee7;
  --accent: #4528d7;
  --accent-foreground: #ece9fb;
  --destructive: #dc2626;
  --destructive-foreground: #ece9fb;
  --border: #291881;
  --input: #1c1056;
  --ring: #6a53df;
  --chart-1: #6a53df;
  --chart-2: #8f7ee7;
  --chart-3: #b5a9ef;
  --chart-4: #4528d7;
  --chart-5: #3720ac;
  --sidebar: #0e082b;
  --sidebar-foreground: #ece9fb;
  --sidebar-primary: #6a53df;
  --sidebar-primary-foreground: #ece9fb;
  --sidebar-accent: #1c1056;
  --sidebar-accent-foreground: #dad4f7;
  --sidebar-border: #291881;
  --sidebar-ring: #6a53df;
}

@theme inline {
  --font-sans: 'Geist', 'Geist Fallback';
  --font-mono: 'Geist Mono', 'Geist Mono Fallback';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}