@import 'tailwindcss';
@import 'tailwindcss/preflight';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-periwinkle-50: #ece9fb;
  --color-periwinkle-100: #dad4f7;
  --color-periwinkle-200: #b5a9ef;
  --color-periwinkle-300: #8f7ee7;
  --color-periwinkle-400: #6a53df;
  --color-periwinkle-500: #4528d7;
  --color-periwinkle-600: #3720ac;
  --color-periwinkle-700: #291881;
  --color-periwinkle-800: #1c1056;
  --color-periwinkle-900: #0e082b;
  --color-periwinkle-950: #0a061e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ece9fb;
    --foreground: #0a061e;
  }
}

body {
  background: linear-gradient(to bottom transparent, rgb(var(--background)), rgb(var(--foreground)));
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in {
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

.btn-primary {
  @apply bg-periwinkle-600 hover:bg-periwinkle-800 text-white font-semibold py-2 px-4 rounded transition-all;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 rounded transition-all;
}

li {
  padding: 0 1rem;
}